version: "3.8"

services:
  zookeeper:
    image: wurstmeister/zookeeper
    ports: ["2181:2181"]

  kafka:
    image: wurstmeister/kafka
    ports: ["9092:9092"]
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
    depends_on:
      - zookeeper

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: fraud
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports: ["5432:5432"]
    volumes:
      - postgres_data:/var/lib/postgresql/data

  fraud_service:
    build: .
    command: python kafka_service.py
    depends_on:
      - kafka

  score_saver:
    build: .
    command: python score_saver.py
    depends_on:
      - kafka
      - postgres

  dashboard:
    build: .
    command: streamlit run ui/app.py --server.port=8501 --server.address=0.0.0.0
    ports:
      - "8501:8501"
    depends_on:
      - postgres

volumes:
  postgres_data:
